# === Java ===
*.class
*.log
*.war
*.ear

# === Maven ===
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
out/
# Avoid ignoring log configuration and other files in resources
!src/main/resources/

# === OS Files ===
.DS_Store
Thumbs.db

# === Logs ===
*.log

# === IDEs / Editors ===
.vscode/
*.swp
*~

# === Spring Boot Dev Tools ===
.spring-boot-devtools.properties
.spring-boot-devtools.restart.trigger-file

# === Others ===
/bin/
/tmp/
/*.bak

*.png
*.jpg
*.jpeg
*.gif

**/*.js
**/*.min.js
**/*.css
**/*.min.css

*.psd
*.svg

# === FE assets includes large files ===
src/main/resources/static/assets/global/plugins/

# elastic search large files
logstash/